@import 'base.scss';
@import 'variables';
@import '_modal.scss';
html,
body {
    font-family: sans-serif;
}

html {
    overflow-y: scroll;
}

#intro {
    .image-container {
        width: 16%;
    }
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.5em;

    .profile-img {
        border-radius: 50%;
        width: 128px;
        height: 128px;
        border: 5px solid $primary-color;
    }
    .intro-text {
        width: 64%;
        height: 5.3rem;
    }
    .intro-info-box {
        width: 20%;
    }
    ul {
        list-style: none;
        white-space: normal;
    }
    ul li {
        display: flex;
        align-items: center;
    }
}

$margin-between-fieldsets: 1.3rem;

fieldset:not(:first-child):not(:last-child) {
    margin-top: $margin-between-fieldsets;
    margin-bottom: $margin-between-fieldsets;
}

fieldset:not(:first-child) {
    margin-top: $margin-between-fieldsets;
}

fieldset:last-child:not(:first-child) {
    margin-top: $margin-between-fieldsets;
}
$margin-between-uls: 1rem;

#educationTab {
    .edu-entry:not(:first-child):not(:last-child) {
        margin-top: $margin-between-uls;
        margin-bottom: $margin-between-uls;
    }

    .edu-entry:not(:first-child) {
        margin-top: $margin-between-uls;
    }

    .edu-entry:last-child:not(:first-child) {
        margin-top: $margin-between-fieldsets;
    }
}

nav {
    ul a:before,
    p a:before {
        color: #00dd00;
        content: ' [ ';
    }

    ul a:after,
    p a:after {
        color: #00dd00;
        content: ' ] ';
    }

    .active a {
        background: 0 0;
        color: inherit !important;
    }
}

#infoEduExp {
    button.active {
        border-color: $primary-color;
        color: var(--secondary-color);
        z-index: 2;
    }
}
#aboutSection,
#experienceTab,
#contactSection,
#resumeSection {
    display: none;
}

#resumePreview {
    width: 100%;
    height: calc(100vh - 120px);
}
